* {
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 4.7fr / 1fr 3.75fr;
}

.header {
  background-color: rgba(255, 255, 255, 255);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1.5fr;
  padding: 10px 40px 0px;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  gap: 55px;
  align-content: start;
  padding-top: 17px;
  padding-left: 4px;
}

.sidebar,
button {
  background-color: rgba(25,146,212,255);
}

.branding {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
}

.menu,
.support {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 25px;
}

.support {
  margin-top: 25px;
}

.whiteIcon {
  filter: invert(100%) sepia(88%) saturate(48%) hue-rotate(23deg) brightness(111%) contrast(115%);
}

.large,
.small {
  justify-self: center;
}

.large {
  height: 47px;
}

.small,
.blackIcon {
  height: 23px;
}

.pageName,
.nav {
  color: white;
  font-weight: 600;
  margin: 0px;
  align-self: center;
}

.pageName {
  font-size: 1.65rem;
}

.nav {
  font-size: 1.28rem;
}

.main-content,
.search input {
  background-color: rgba(226,232,240,255);
}

.search input {
  border: none;
  border-radius: 28px;
  height: 28px;
  width: 600px;
}

.avatar,
.box2 img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.user .avatar {
  height: 70px;
  width: 70px;
}

.search,
.login,
.user,
.links {
  align-items: center;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.login p {
  font-size: 1.1rem;
  font-weight: 900;
}

.login {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: right;
}

.user {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.links {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-items: right;
}

button {
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 0.9rem;
}

.greetings h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.greetings h1,
.greetings p{
  margin-block: 0.2rem;
}

.login .blackIcon {
  margin-left: 90px;
}

.login p {
  margin-right: 25px;
}

.greetings p{
  font-weight: 500;
}

.main-content {
  display: grid;
  grid-template: 1fr / 1fr auto;
  padding: 25px 25px 70px;
  gap: 25px;
}

.projects {
  display: grid;
  grid-template: auto 1fr / 1fr;
}

.cards {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 25px;
}

.box {
  background-color: rgba(255, 255, 255, 255);
  padding: 25px;
  border-radius: 0.5em;
  border-left-style: solid;
  border-color: rgba(240,180,41,255);
  border-width: 7px;
  display: grid;
  align-content: space-between;
}

h2 {
  font-size: 1.3rem;
  margin: 0px 0px 0.5em;
}

.cards img {
  height: 25px;
}

.boxIcons {
  display: grid;
  grid-template: auto / 1fr auto auto;
  gap: 30px;
  justify-items: end;
}

.box p,
.box2 p {
  color: rgba(99,99,99,255);
}
  
.box2 {
  width: 220px;
  background-color: rgba(255, 255, 255, 255);
  border-radius: 0.5em;
  padding: 25px;
}

.box,
.box2 {
  box-shadow: 3px 5px rgba(206,212,219,255);
}

.side-content {
  display: grid;
  align-content: space-between;
  gap: 35px;
}

h4 {
  font-size: 0.9rem;
  margin: 0px;
}

.box2 p {
  margin-top: 3px;
}

.box2 p {
  font-size: 0.7rem;
}

.userBox {
  display: grid;
  grid-template: auto / auto 1fr;
  gap: 15px;
}

hr {
  margin: 20px 0px;
}

.box3 {
  display: grid;
  gap: 25px;
}

#userName {
  color: black;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 5px 0px;
}

#userDescription {
  font-size: 0.8rem;
}

.boxText h3,
.boxText p {
  margin: 4px 0px;
}